<div class="row">
  <strong><em>Times in CEST / UTC+2</em></strong>
  <div class="col-md-6">
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr> <td>Before</td> <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}">Pre-workshop survey</a> </td> </tr>
      <tr> <td>09:00</td>  <td>Technical Troubleshooting</td> </tr>
      <tr> <td>10:00</td>  <td>Onboarding (icebreaker)</td> </tr>
      <tr> <td>11:00</td>  <td>Automating tasks with the Unix shell</td> </tr>
      <tr> <td>12:30</td>  <td>Lunch break</td> </tr>
      <tr> <td>13:30</td>  <td>Automating tasks with the Unix shell (cont.)</td> </tr>
      <tr> <td>15:00</td>  <td>Lightning talks (instructors)</td> </tr>
      <tr> <td>15:30</td>  <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 2</h3>
    <table class="table table-striped">
      <tr> <td>10:00</td>  <td>Python building blocks and code structure</td> </tr>
      <tr> <td>12:30</td>  <td>Lunch break</td> </tr>
      <tr> <td>13:30</td>  <td>Programming with Python (cont.)</td> </tr>
      <tr> <td>15:00</td>  <td>Lightning talks (participants)</td> </tr>
      <tr> <td>15:30</td>  <td>END</td> </tr>
    </table>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <h3>Day 3</h3>
    <table class="table table-striped">
      <tr> <td>10:00</td>  <td>Programming with Python (cont.)</td> </tr>
      <tr> <td>12:30</td>  <td>Lunch break</td> </tr>
      <tr> <td>13:30</td>  <td>Version Control with Git & GitHub</td> </tr>
      <tr> <td>15:00</td>  <td>Lightning talks (participants)</td> </tr>
      <tr> <td>15:30</td>  <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 4</h3>
    <table class="table table-striped">
      <tr> <td>10:00</td>  <td>Version Control with Git & GitHub (cont.)</td> </tr>
      <tr> <td>12:30</td>  <td>Lunch break</td> </tr>
      <tr> <td>13:30</td>  <td>HPC & job scheduling on Slurm</td> </tr>
      <tr> <td>15:30</td>  <td>END</td> </tr>
      <tr> <td>TBD</td>  <td>Social event</td> </tr>
    </table>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <h3>Day 5</h3>
    <table class="table table-striped">
      <tr> <td>10:00</td>  <td>Workflow management with Snakemake</td> </tr>
      <tr> <td>12:30</td>  <td>Lunch break</td> </tr>
      <tr> <td>13:30</td>  <td>Discussion & Wrap-up</td> </tr>
      <tr> <td>14:50</td>  <td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank">Post-workshop Survey</a></td> </tr>
      <tr> <td>15:00</td>  <td>END</td> </tr>
    </table>
  </div>
</div>
